.b-empleado {
  display: grid;
  grid-template-rows: 60px auto 60px;
  background-color: #014596;
  height: 100vh;
  overflow: hidden;
}
.b-empleado__header {
  position: relative;
  color: white;
}
.back-icon {
  position: absolute;
  left: 15px;
  top: 40px;
  color: white;
  transform: scale(0.7) rotate(180deg);
  opacity: 0.6;
}
.back-icon:hover {
  opacity: 1;
}
.b-empleado-main {
  padding-top: 60px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5vh; */
  border-top-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  background-color: white;
  height: 80vh;
  overflow: hidden;
}
.b-empleado-main__switch-wrapper {
  background-color: #d9d9d9;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.documentacion {
  flex: 1;
  color: #9c9c9d;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  height:30px;
  line-height: 30px;
}
.b-empleado-main__switch {
  text-align: center;
  flex: 1;
  border-radius: 5px;
  color: white;
  background-color: #014596;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
}
.b-empleado-main__filtros {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  width: 1024px;
  max-width: 90%;
  height: 35px;
}
.b-empleado-main__items {
  overflow-y: auto;
  height: 75%;
  box-sizing: border-box;
  width: 1024px;
  max-width:90%;
  border-top: 1px solid #bebdbd;
  border-bottom: 2px solid #bebdbd;
  padding: 20px;
  margin-bottom:20px;
}
.b-empleado-main__item {
  display: grid;
  grid-template-columns: 45px auto 45px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 10px;
  margin-bottom: 3px;
}
.b-empleado-main__item:hover {
  cursor: pointer;
  background-color: #71e3ff;
}
.b-empleado-main__item-punt {
  border-radius: 10px;
  background-color: #014596;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
  left:calc(100% - 45px);
}
.b-empleado-main__nombre-fecha {
  margin-left: 15px;
}

.b-empleado-main__link {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 10px;
  background-color: #014596;
  border-radius: 5px;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.b-empleado-main__link--icon {
  transform: scale(0.5);
  opacity: 0.8;
}
.b-empleado-main__link--icon:hover {
  opacity: 1;
}
.button-filtro {
  
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  padding: 8px 16px;
  border-top: 1px solid #bebdbd;
}
.button-filtro:hover{
    background-color: #71e3ff;
    color:#014596;
}

.filtro-activo {
  color: white;
  background-color: #014596;
  border: 1px solid #014596;
}
.filtro-inactivo {
  color: #9c9c9d;
  background-color: white;
  border: 1px solid #9c9c9d;
}
.b-empleado-main__imagen {
  position: fixed;
  width: 100px;
  right: calc(100%-50px);
  top: 10px;
  border: 2px solid white;
  border-radius: 50%;
}
.b-empleado-main__nombre {
  color: #014596;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.en-filtro {
  margin-bottom: 5px;
}
.b-empleado-main__puntuacion {
  display: flex;

  width: 100%;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}
.b-empleado-main__fecha {
  font-size: 12px;
  font-weight: 500;
  color: #676767;
  text-align: left;
}
.b-empleado-main__datos {
  border-bottom: 2px solid #9bb3c9;
  padding-bottom: 5vh;
  margin: 40px 0 30px 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 85%;
  justify-content: center;
}
.b-empleado-main__clave {
  color: #014596;
  font-weight: 700;
}
.b-empleado-main__valor {
  font-size: 14px;
  font-weight: 700;
}
.line {
  margin: 0 6vw;
  width: 2px;
  height: 80%;
  background-color: #9bb3c9;
}
.b-empleado-main__observaciones {
  width: 85%;
  height: 80%;
  position: relative;
}
.show-icon {
  position: absolute;

  top: 0;
  right: 10px;
  transform: scale(0.7) rotate(270deg);
  opacity: 0.6;
}
.show-icon:hover {
  opacity: 1;
}

.b-empleado-main__observaciones__texto {
  overflow-y: scroll;
  padding-right: 20px;
  width: 100%;
  max-height: 20vh;
  border: none;
  outline: none;
  height: 20vh;
}

.b-empleado-main__numerico {
  font-weight: 700;
  color: #014596;
  font-size: 18px;
  margin-left: 5px;
}
.textarea-container {
  overflow: hidden;
  width: 97%;
  /* border-bottom-right-radius: 20vw; */
}
.footer__button {
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #014596;
}
.back-button {
  display: none;
}
.footer__button:hover {
  color: rgb(0, 102, 255);
  box-shadow: 2px 2px 2px #c5c5c5, -2px -2px 2px #ffffff;
}
.buttons-wrapper {
  display: none;
  gap: 10px;
  width: auto;
  margin: auto;
}
@media (min-height: 800px) {
  .b-empleado-main__observaciones__texto {
    max-height: 25vh;
  }


}
