@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@import url("./empleado.css");
@import url("./valoracion.css");

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}
img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  max-width: 200px;
}
#signedInUser{
  text-align: left;
    position: fixed;
    top: 13px;
    left: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.cerrar-sesion {
  position: fixed;
  top: 5px;
  right: 10px;
}
.cerrar-sesion:hover{
  background-color:rgb(156, 9, 9) !important;
  color:white !important;
}
#login-form {
  width: 100%;
  /* eliminado height 100% y grd-gap aumentado a 50% para elmininar scroll */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 50%;
  padding-top: 10%;
}

.b-full {
  box-sizing: border-box;
  margin: 20px auto 0 auto;
  width: 100vw;
  display: grid;
  grid-template-rows: minmax(5vh, 10vh) auto;
  overflow: hidden;
  height: 100vh;
}

.b-header {
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.main {
  overflow: hidden;
  height: 72%;
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  background-color: #014596;
  border-top-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
}
.main--height {
  height: 69%;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5);
}

.input-wrapper {
  /* ajuste del ancho para responsive y correcta ubicación de la lupa */
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 11%;
  top: 50%;
  transform: translateY(-50%);
}
.input-icon-admin {
  color: #014596;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 5%;
  top: 45px;
  transform: translateY(-50%);
}
.user-icon {
  opacity: 0.7;
  color: #191919;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10%;
  top: 75%;
  transform: translateY(-50%);
}
.visible-icon {
  opacity: 0.7;
  color: #191919;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10%;
  top: 75%;
  transform: translateY(-50%);
}
.visible-icon:hover {
  opacity: 1;
}

.b-form-element {
  box-sizing: border-box;
  color: #1d1d1d;

  /* margin: 0 auto; */
  display: inline-block;
  /* height: 30px; */
  display: grid;
  align-content: center;
  /* font-size: 14px; */
  line-height: 30px;
  /* border-radius: 20px; */
  border: 3px solid white;
  /* max-width: 350px; */
  margin: 20px auto;
  font-size: 18px;
  padding: 10px;
  /* padding: 5px 10px;
}

input.b-form-element {
  text-align: left;
  background-color: white;
  /* ajuste del ancho para el responsive  */
  /* min-width: 200px; */
  width: 350px;
  height: 45px;
  border-radius: 20px;

  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
}

.b-form-element:focus {
  background-color: white;
  outline: none;
  box-shadow: 4px 4px 5px #969696, 4px 4px 5px #ffffff;
}

.button {
  font-size:12px;
  min-width: 100px;
  max-width: 350px;
  height: 35px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: rgba(236, 236, 236, 0.7);
  color: #014596;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  display: block;
  margin: auto;
  border: 1px solid #014596;
  padding: 0 15px;
}
.accept-button{
  display: none;
}

.b-form-element:hover {
  border: 3px solid #71e3ff;
}
.button:hover {
  background-color: #71e3ff;
  color:#014596;
}
.bluebg {
  background-color: #014596 !important;
}
.data-container {
  padding: 50px 10px 80px 10px;
  border-top: 25px solid #014596;
  border-bottom: 25px solid #014596;
  width: 100%;

  margin: 20px auto;
  box-sizing: border-box;
  height: 95%;
  overflow-y: overlay;
  border-top-left-radius: 30vw;
  border-bottom-right-radius: 30vw;
  background-color: white;
}
.data-container::-webkit-scrollbar {
  display: none;
}
.data-container:hover::-webkit-scrollbar {
  display: initial;
}
.data-container::-webkit-scrollbar-thumb {
  background-color: #d1cbcba9;
}
.b-container {
  display: grid;
  grid-template-rows: 7% auto;
  gap: 15px;
  overflow: hidden;
}

.carta-empleado {
  margin: 20px 15px;
  padding: 10px;
  background: white;
  box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  border-bottom-right-radius: 30px;
  display: grid;
  grid-template-columns: auto 50px;
  color: #014596;
  font-weight: 700;
}
.carta-empleado:hover {
  background-color: #71e3ff;
  font-size: 1.2rem;
}
.usuario-imagen {
  object-fit: contain;
  display: inline-block;
  border: 2px solid #014596;
  border-radius: 50%;
}
.empleado-valoracion {
  text-align: right;
}
.unique-row {
  height: 70px;
}
.empleado-estrellas {
  display: grid;
  padding-left: 5px;
}
.star {
  background-image: url("../_resources/star.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;

}
.staroff {
  background-image: url("../_resources/star_gray.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
}
.hidden {
  display: none;
}
.carta-header {
  display: grid;
  margin: 0;
  grid-template-rows: 60% 40%;
  width: 100%;
}
.carta-header-valoracion {
  display: flex;
  justify-content: end;
  padding-right: 5px;
}

.empleado-nombre a {
  line-height:50px;
}

.empleado-nombre a:hover {
  color: rgb(168, 95, 95);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  color: white;
}
.write-icon--admin{
  top:0;
}
@media (min-width: 720px) {
  .data-container {
    height: 99%;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 20vw;
    padding: 80px 15vw;
    border-top: 50px solid #014596;
    border-bottom: 50px solid #014596;
  }
  .b-empleado-main__imagen {
    right: auto;
  }

  .b-empleado-main__switch-wrapper{
    width: 50%
  }
  .b-empleado-main__items {
    border-bottom-right-radius: 1vw;
    

}
}
@media (min-width: 360px) {
  .carta-empleado {
    margin: 30px 20px;
  }
  .empleado-nombre {
    font-size: 16px;
  }
  .b-empleado-main {
    border-top-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
  }
}

@media (min-width: 720px) and (min-height: 600px) {

  .data-container-background {
    border-top-left-radius: 15vw;
    border-bottom-right-radius: 10vw;
    height: 70vh;
    width: 100%;
  }
  .data-container {
    height: 99%;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 20vw;
    padding: 80px 15vw;
    border-top: 50px solid #014596;
    border-bottom: 50px solid #014596;
  }

  .main {
    height: 65%;

    gap: 50px;
    padding-top: 25vh;
    background-color: #014596;

    border-top-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    padding-left: 20%;
    padding-right: 20%;
  }
  .carta-empleado {
    margin: 30px 40px;
    padding: 1.7%;
  }
  .carta-header {
    grid-template-rows: 50% 50%;
  }
  .unique-row {
    height: 90px;
  }
  .empleado-nombre {
    font-size: 25px;
  }
  .empleado-valoracion {
    font-size: 26px;
  }
  .b-empleado-main {
    border-top-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
  }
  .b-empleado {
    grid-template-rows: 60px auto;
  }
  .b-empleado-main__switch-wrapper {
    width: 40%;
  }


  
  .back-icon {
    display: none;
  }
  .b-empleado-main__items {
    border-bottom-right-radius: 0;
  }
  .b-empleado-main__observaciones {
    width: 40%;
    height: auto;
  }
  .b-empleado-main__comentarios {
    width: 60%;
  }

  .buttons-wrapper{
    display: flex;
    
  }
}

@media (min-width: 1080px) and (min-height: 600px) {
  .b-full {
    margin: 20px auto;
    
  }
  .carta-empleado {
    margin: 30px 50px;
    padding: 1.5%;
  }
  
}

.oculto{
  display: none !important;
}

#detalle-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#detalle-main label{
  margin-bottom: 20px;
  color: #014596;
}

.selectorO  {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #014596;
}

.selectorC{
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #014596;
}
